{% import "_includes/forms" as forms %}
{% set title = "Instagram Feed"|t('app') %}

{% macro configWarning(setting) -%}
  {{ "This is being overridden by the {setting} config setting in your contactform.php config file."|t({
    setting: setting
  })|raw }}
{%- endmacro %}

{% from _self import configWarning %}

{{ forms.textField({
  first:        true,
  label:        "Instagram User ID"|t,
  required:     true,
  id:           'userId',
  name:         'userId',
  instructions: "This is your user ID"|t,
  value:        settings.userId,
  autofocus:    true,
  disabled:     (craft.app.config.general.setting('userId', 'instagramfeed') is not same as(null)),
  warning:      (craft.app.config.general.setting('userId', 'instagramfeed') is not same as(null)) ? configWarning('userId'),
  errors:       settings.getErrors('userId')
}) }}

{{ forms.textField({
  first:        true,
  label:        "Instagram Access Token"|t,
  required:     true,
  id:           'accessToken',
  name:         'accessToken',
  instructions: "This is your access token"|t,
  value:        settings.accessToken,
  autofocus:    true,
  disabled:     (craft.app.config.general.setting('accessToken', 'instagramfeed') is not same as(null)),
  warning:      (craft.app.config.general.setting('accessToken', 'instagramfeed') is not same as(null)) ? configWarning('accessToken'),
  errors:       settings.getErrors('accessToken')
}) }}

{% if craft.instagramfeed.isConnected() %}
<p><span class="status live"></span> Successfully Connected</p>
{% else %}
<p><span class="status" style="background-color: #e73737;"></span> Not Connected</p>
{% endif %}